# dependencies
node_modules

# env files
.env
.env.*

# build files
dist
build

# system files
.DS_Store
Thumbs.db

# git and docker
.git
.gitignore
Dockerfile
.dockerignore

# editor files
.vscode
.idea
*.swp
