node_modules/
build/
.devenv/
.devenv.flake.nix
.direnv/
.pre-commit-config.yaml
result
result-*

.env
.DS_Store
.claude/
.mcp.json

# jetbrains files
.idea/*

# .pyc files
*.pyc

# __pycache__
**/__pycache__/
